/* Inicio archivos con tapa musical & iframe */

.fondotapa {
    background-image: url(/images/fondoiframe2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
     background-size: cover;
}
/* Inicio Header */

.color-nav-iframe {
    background-color:#1C1714;
    border-radius: 15px;
}

/* Fin Header */

.fuentetitulo {
    color: #1C8642;
    font-family: 'Akaya Telivigala', cursive;
    border-radius: 15px;
}

/*---------------------------------------------- Fin archivos con tapa musical & iframe ------------------------------*/